{
  "plugins": [
    "unused-imports"
  ],
  "extends": "react-app",
  "rules": {
    // Other rules
    "max-len": ["warn", {
      "code": 120
    }],
    "quotes": ["warn", "single", "avoid-escape"],
    "jsx-quotes": [
      "warn",
      "prefer-single"
    ],
    "semi": ["warn", "always"],
    "indent": ["warn", 2],
    "eol-last": ["warn", "always"],
    "no-tabs": ["warn"],
    "yoda": ["warn", "never"],
    "comma-dangle": ["warn", "always-multiline"],
    "no-console": ["warn"],
    "no-unused-vars": ["warn"],
    "object-curly-spacing": ["warn", "always"],
    "no-multiple-empty-lines": ["warn", {
      "max": 1,
      "maxBOF": 0,
      "maxEOF": 1
    }],
    "unused-imports/no-unused-imports": ["warn"],
    "@next/next/no-img-element": "off",
    "import/newline-after-import": ["warn", {
      "count": 1
    }],
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "warnOnUnassignedImports": true,
        "groups": ["builtin", "external", "internal", ["index", "object"], "parent", "sibling", "type"],
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "internal"
          },
          {
            "pattern": "./**/*.scss",
            "group": "type"
          },
          {
            "pattern": "../**/*.scss",
            "group": "type"
          }
        ]
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React"
    }
  }
}
